<h1 align="center">An Introduction to Machine Learning - 25737</h1>
<h4 align="center">Dr. Sajjad Amini</h4>
<h4 align="center">Sharif University of Technology, Spring 2023</h4>

# Problem Set 01

Welcome to your first assignment. This exercise gives you a brief introduction to Python.

STUDENT NAME:fateme salehin

STUDENT ID:97101961

## About iPython Notebooks ##

iPython Notebooks are interactive coding environments embedded in a webpage. You will be using iPython notebooks in this class. You only need to write code between the ### START CODE HERE ### and ### END CODE HERE ### comments. After writing your code, you can run the cell by either pressing "SHIFT"+"ENTER" or by clicking on "Run Cell" (denoted by a play symbol) in the upper bar of the notebook. 

**Exercise**: Set test to `"Hello World"` in the cell below to print "Hello World" and run the two cells below.

In [ ]:
### START CODE HERE ###
test ="hello world" 
print(test)
### END CODE HERE ###

hello world

<font color='blue'>
**What you need to remember**:
- Run your cells using SHIFT+ENTER (or "Run cell")
- Write code in the designated areas using Python 3 only
- Do not modify the code outside of the designated areas

# 1.
>What are the lengths of the following lists and strings below? Fill in the variable `lengths` with your predictions. (Try to make a prediction for each list *without* just calling `len()` on it.)

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]
e = 'it\'s ok'
f = ""
g = """hey"""
h = '\n'

# Put your predictions in the list below. Lengths should contain 8 numbers, the
# first being the length of a, the second being the length of b and so on.
### START CODE HERE ###
lengths = [3,2,0,2,7,0,3,1]
### END CODE HERE ###

# 2. 
>Swap the values to which a and b refer.

In [ ]:
a = [1, 2, 3]
b = [3, 2, 1]

### START CODE HERE ###
c=[]
c=a
a=b
b=c
print("a:",a)
print("b:",b)
### END CODE HERE ###

a: [3, 2, 1]
b: [1, 2, 3]

# 3. 
>Which of the two variables below has the smallest absolute value? Use Python's built-in functions.

In [ ]:
x = -10
y = 5

### START CODE HERE ###
x1=abs(x)
y1=abs(y)
smallest_abs = min(x1,y1)
print(smallest_abs)
### END CODE HERE ###

5

# 4. 

> A simple exercise! Run the cell below and try to explain the results for yourself:

In [ ]:
print( 1.0 + 1.0 - 1.0 )
print( 1.0 + 1.0e20 - 1.0e20 )
print( 1.0e20 - 1.0e20 + 1 )

1.0
0.0
1.0

<div dir="rtl">
در مورد اول اردر اعداد یکی می باشد و همانطور که انتظار داریم حاصل جمع و تفریق آن ها برابر یک خواهد شد .اما در مورد دوم اردر اعداد یکی نیست ،وقتی ابتدا یک با ده به توان 20 جمع میشود اثر آن گویی قابل ملاحظه نیست و وقتی 10 به توان 20 از حاصل جمع این ها کم میشود حاصل صفر خواهد شد. در مورد سوم چون 10 به توان 20 ها ابتدا از هم کم شده حاصل صفر میشود و حال اردر آن با عدد یک که به آن اضافه میشود،یکی است و اثر یک در اینجا دیده میشود.

# 5.
>Many programming languages have [`sign`](https://en.wikipedia.org/wiki/Sign_function) available as a built-in function. Python doesn't, but we can define our own! 
In the cell below, define a function called `sign` which takes a numerical argument and returns -1 if it's negative, 1 if it's positive, and 0 if it's 0.

In [ ]:
def sign(x):
    # ("pass" is a keyword that does literally nothing. We used it as a placeholder
    # because after we begin a code block, Python requires at least one line of code)
    ### START CODE HERE ###
    if x>0:
     return 1
    elif x<0:
        return -1
    else:
          return 0

    ### END CODE HERE ###
    pass

# You can try different examples to check your function:
print(sign(2))
print(sign(-2))
print(sign(0))

1
-1
0

# 6. 
>Complete the body of the following function according to its docstring.

HINT: Python has a built-in function `round`.

In [65]:
def round_to_two_places(num):
    """Return the given number rounded to two decimal places. 
    
    >>> round_to_two_places(3.14159)
    3.14
    """
    ### START CODE HERE ###
    d=int('1'+(2*'0'))
    f=(num*d)%1
    n=(num*d)-f
    if f>0.5:
      return (n+1)/100
    else:
        return n/100

    
    ### END CODE HERE ###
    pass

round_to_two_places(3.14159)
round_to_two_places(232.4243)

232.42

The help for `round` says that `ndigits` (the second argument) may be negative.
What do you think will happen when it is? Try an example in the cell below.

In [ ]:
round(232.4243, -2)

# 7.
> Write a function that evaluates the polynomial $${3x^2 − x + 2}$$

In [63]:
def polynomial(x):
    ### START CODE HERE ###
    poly=[3,-1,2]
    l=len(poly)
    r=0
    for i in range(l):
      s=poly[i]
      for j in range(l-i-1):
        s=s*x
      r=r+s
    print(r)
    ### END CODE HERE ###
    pass
polynomial(2)

12

# 8.
>Complete the function below according to its docstring.

In [59]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    ### START CODE HERE ###
    
    l=len(L)
    if l<2:
      return None
    else:
        return L[1]
    ### END CODE HERE ###
    pass
l=[1,2,3,4]
select_second(l)

2

# 9.
>We're using lists to record people who attended a class and what order they arrived in. For example, the following list represents a class with 7 students, in which 'Amirhossein' showed up first and 'Pedram' was the last to arrive:
    
> class_attendees = ['Amirhossein', 'Hadi', 'Fatemeh', 'Mahtab', 'Ali', 'Nasim', 'Pedram']

> A student is considered 'fashionably late' if they arrived after at least half of the class's students. However, they must not be the very last student (that's taking it too far). In the above example, Ali and Nasim are the only students who were fashionably late.
Complete the function below which takes a list of class attendees as well as a person, and tells us whether that person is fashionably late.

In [56]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the class and a name, return whether the student with that
    name was fashionably late.
    """
    ### START CODE HERE ###
    l=len(arrivals)
    a=l/2
    if l%2==1:
      r=a+0.5
    else:
        r=a;
    for i in range(int(a),l):
      if(arrivals[i]==name and i!=l-1):
          print(name,"was fashionably late")
          break
      if(arrivals[i]!=name and i==l-1):
          print(name,"was not fashionably late")          
                      
    ### END CODE HERE ###
pass
arrivals= ['Amirhossein', 'Hadi', 'Fatemeh', 'Mahtab', 'Ali', 'Nasim', 'Pedram']
fashionably_late(arrivals, 'Hadi')

Hadi was not fashionably late

# 10.
>Complete the function below according to its docstring.

In [43]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    ### START CODE HERE ###
    k=0
    for l in nums:
        k=k+1
        if l%7==0:
            print("lucky list")
            break
        elif(k==len(nums)-1):
          print("not a lucky list")
    ### END CODE HERE ###
    pass
nums=[1,2,3,4,5,6,7,8]
has_lucky_number(nums)

lucky list

# 11.

>Complete the body of the function below according to its docstring.

In [40]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    ### START CODE HERE ###
    found={}
    k=0
    for l in meals:
      found[l]=0
    for l in meals:
      found[l]=found[l]+1
    for l in found:
        k=k+1
        if found[l]>=2:
           print('True')
           break
        elif(k==len(found)):
            print('False')
        
    ### END CODE HERE ###
    pass
meals=['a','b','c','d','e','d']
menu_is_boring(meals)

True

# 12.

> There is a saying that "Data scientists spend 80% of their time cleaning data, and 20% of their time complaining about cleaning data." Let's see if you can write a function to help clean US zip code data. Given a string, it should return whether or not that string represents a valid zip code. For our purposes, a valid zip code is any string consisting of exactly 5 digits.

HINT: `str` has a method that will be useful here. Use `help(str)` to review a list of string methods.

In [23]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    ### START CODE HERE ###
    digits = ['0', '1', '2', '3', '4',
              '5', '6', '7', '8', '9']
    ndigits = 0
    for i in zip_code:
         if i in digits:
           ndigits=ndigits+1
    if ndigits==5:
        print('True')
    else:
        print('False')
    ### END CODE HERE ###
    pass
is_valid_zip('12345')

True

# 13.
>Write a function my_max(x,y) that returns the maximum of x and y. 

>Do not use the max function, but use if instead in following two ways:

>> (a) Use both if and else.

>> (b) Use if but not else (nor elif).

In [15]:
def my_max_a(x,y):
    ### START CODE HERE ###
     if x>=y:
        return x
     else:
          return y
pass
my_max_a(10,5)
    ### END CODE HERE ###

10

In [16]:
def my_max_b(x,y):
    ### START CODE HERE ###
    if x>=y:
        return x
        if y>x:
            return y
pass
my_max_b(10,5)
    ### END CODE HERE ###

10

# 14.  

> Let i,j = 1,...,n

>>(a) Generate a list with elements [i,j].

>>(b) Generate a list with elements [i,j] with i < j

>>(c) Generate a list with elements i + j with both i and j prime and i > j

Use List comprehensions

In [ ]:
# a)
### START CODE HERE ##
l=[1,2,3,4,5]
lst=[[i,j] for i in l for j in l]
print(lst)
### END CODE HERE ###


# b)
### START CODE HERE ###
lst1=[[i,j] for i in l for j in l if i<j]
print(lst1)
### END CODE HERE ###


# c)
### START CODE HERE ###
lst1=[i+j for i in l for j in l if i>j]
print(lst1)
### END CODE HERE ###

[[1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [4, 1], [4, 2], [4, 3], [4, 4], [4, 5], [5, 1], [5, 2], [5, 3], [5, 4], [5, 5]]
[[1, 2], [1, 3], [1, 4], [1, 5], [2, 3], [2, 4], [2, 5], [3, 4], [3, 5], [4, 5]]
[3, 4, 5, 5, 6, 7, 6, 7, 8, 9]

# 15. 

>Complete the body of the function below according to its docstring.

In [8]:
def my_func():
    """Write a function which will return a list contains all such numbers which are divisible by 7 but are not a multiple
    of 5, between 2000 and 3200 (both included).
    """
    ### START CODE HERE ###
    l=[]
    for x in range(2000,3201):
      if (x%7==0) and (x%5!=0):
        l.append(x)
    print(l)
    return l
    ### END CODE HERE ###
    pass
my_func()

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

# 16.

>Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:

        hello world! 123
>Then, the output should be:

>>LETTERS 10

>>DIGITS 3

In [ ]:
### START CODE HERE ###

string = input("Enter a sentence: ")
digits = ['0', '1', '2', '3', '4',
              '5', '6', '7', '8', '9']

letters = ['a', 'b', 'c', 'd', 'e', 'f',
               'g', 'h', 'i', 'j', 'k', 'l',
               'm', 'n', 'o', 'p', 'q', 'r',
               's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

ndigits = 0
nletters = 0
for i in string:
  if i in digits:
    ndigits=ndigits+1
  else:
     nletters=nletters+1
print('digits =',ndigits)
print('letters =',nletters)





### END CODE HERE ###

Enter a sentence: dfghjkl7896425
digits = 7
letters = 7

# 17.
Write a function to sort a list of tuples (name, age, height) by ascending order
where name is string, age and height are numbers. The sort
criteria is:

* 1: Sort based on name;
* 2: Then sort based on age;
* 3: Then sort by score.

The priority is that name > age > score.
If the following list is given as input to the function:
>[('Taha',19,80), ('Farhad',20,90), ('Farrokh',17,91), ('Farrokh',17,93), ('Fatemeh',21,85)]

Then, the output of the program should be:
>[('Farhad', '20', '90'), ('Farrokh', '17', '91'), ('Farrokh', '17', '93'), ('Fatemeh', '21', '85'), ('Taha', '19', '80')]

In [7]:
def sortTuple(inputList):
    ### START CODE HERE ###
    return inputList.sort()
    ### END CODE HERE ###
    pass
def func1(l):
      return l[1]
      pass
def func2(l):
      return l[2]
      pass
inputList=[('Taha',19,80), ('Farhad',20,90), ('Farrokh',17,91), ('Farrokh',17,93), ('Fatemeh',21,85)]
inputList.sort(key=func1)
print(inputList)
inputList.sort(key=func2)
print(inputList)
sortTuple(inputList)
print(inputList)

[('Farrokh', 17, 91), ('Farrokh', 17, 93), ('Taha', 19, 80), ('Farhad', 20, 90), ('Fatemeh', 21, 85)]
[('Taha', 19, 80), ('Fatemeh', 21, 85), ('Farhad', 20, 90), ('Farrokh', 17, 91), ('Farrokh', 17, 93)]
[('Farhad', 20, 90), ('Farrokh', 17, 91), ('Farrokh', 17, 93), ('Fatemeh', 21, 85), ('Taha', 19, 80)]